.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-align: center;
}

.school, .skills, .volunteering {
    margin-bottom: 5%;
}

.skills {
    display: flex;
    flex-direction: column;
}

.languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    list-style: none;
}