/*
    GENERAL ITEMS
*/
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding-top: 1em;
}

h2, h3 {
    font-size: 2em;
}

p, a {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.content-item {
    box-sizing: border-box;
    height: 60em;
}

.section-title {
    margin-left: 5%;
}

.continue-container {
    text-align: center;
}

/* colours */
#header, #home, body {
    background-color: #144955;
    color: white
}
#education, #employment, #projects, #contact, .continue {
    background-color: #F4F1E0;
    color: black;
}

/* fonts */
h1, h2, h3, button{
    font-family: 'Lora', serif;
}

p, .continue {
    font-family: 'Merriweather', serif;
}



/*
    HEADER
*/
#header {
    position: sticky;
    top:0;
    font-size: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#header a {
    margin-left: 2em;
    color: white
}

#top {
    padding-bottom: 1.5em;
    top: 0;
}



/*
    HOME
*/
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home a {
    margin-top: 10%;
    color: white
}



/*
    EDUCATION
*/
.schools{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

#education .continue-container {
    margin-top: 30%;
}



/*
    EMPLOYMENT
*/
#employment {
    display: flex;
    flex-direction: column;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.work-item {
    width: 20%;
    margin: 5%;
}

button {
    width: 10em;
    padding: 0.5em;
    font-size: 1em;
    margin-left: 10%;
    color: white;
    background-color: #1b859d;
    transition-duration: 0.4s;
    border: 2px solid #F4F1E0;
    border-radius: 4px;
}

button:hover {
    background-color: #F4F1E0;
    color: black;
    border: 2px solid #1b859d;
}



/*
    PROJECTS
*/
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#projects {
    height: auto;
}

.project-item {
    width: 20%;
    margin: 5%;
    padding: 1%;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.project-item:hover {
    background-color: #1b859d;
}

.project-img-container {
    text-align: center;
}

.project-img {
    width: 15em;
    height: 15em;
    object-fit: cover;
}

.project-link {
    color: black;
}



/*
    CONTACT
*/
#contact-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-links {
    margin: 15%;
    transition-duration: 0.4s;
}

.contact-links:hover {
    transform: -webkit-rotate(180deg);
    transform: -ms-rotate(180deg);
    transform: -moz-rotate(180deg);
    transform: rotate(180deg);
}

.contact-img {
    width: 64px;
    height: auto;
}



/*
    SMALL WINDOW SIZES
*/
@media all and (max-width: 700px) {
    /*
        GENERAL ITEMS
    */
    h1 {
        font-size: 2em;
        margin: 0;
        padding-top: 1em;
    }

    h2, h3 {
        font-size: 1.5em;
    }

    p, a {
        font-size: 1.25em;
    }
    .content-item {
        padding-top: 3em;
    }
    
    .section-title {
        margin-left: 5%;
    }

    .continue-container {
        text-align: center;
    }

    /* colours */
    #header, #home, body {
        background-color: #144955;
        color: white
    }

    #education, #employment, #projects, #contact, .continue {
        background-color: #F4F1E0;
        color: black;
    }

    /* fonts */
    h1, h2, button {
        font-family: 'Lora', serif;
    }

    p, .continue {
        font-family: 'Merriweather', serif;
    }



    /*
        HEADER
    */
    #header {
        font-size: 1.5em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    #header a {
        margin-left: 1.5em;
        color: white
    }

    #top {
        padding-bottom: 1em;
        top: 0;
    }



    /*
        HOME
    */
    #home {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
    }

    #home a {
        margin-top: 50%;
        color: white
    }



    /*
        EDUCATION
    */
    .schools{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }

    .education-item {
        width: 70%;
        height: auto;
    }

    #education .continue-container {
        margin-top: 30%;
    }


    /*
        EMPLOYMENT
    */
    #employment {
        height: auto;
    }

    .work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .work-item {
        width: 70%;
        margin-bottom: 5%;
    }

    #employment .continue-container {
        margin-top: 5em;
    }

    /*
        PROJECTS
    */
    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .project-item {
        width: 70%;
        margin: 5%;
        padding: 3%;
        text-align: center;
    }



    /*
        CONTACT
    */
    #contact-items {
        margin-top: 40%;
    }

    .contact-links {
        margin: 15%;
        transition-duration: 0.4s;
    }

    .contact-links:hover {
        transform: -webkit-rotate(180deg);
        transform: -ms-rotate(180deg);
        transform: -moz-rotate(180deg);
        transform: rotate(180deg);
    }

    .contact-img {
        width: 64px;
        height: auto;
    }
}