body {
	background-color: #d5e1df;
	/*eventually include hovering over links to change their colour/font or something neat*/
}

.mainLinks:hover {
	font-style: italic;
}

a {
	color:#FF0000;
	}

a:visited {
	color:#00FF00;
	}

a:hover {
	color:#FF00FF;
	}
	
a:active {
	color:#0000FF;
}