/*
Created by Bartosz Kosakowski
09/22/17
CSS for my rad website
*/
body {
    background-image: url("images/galaxy.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    /*background-color: #d5e1df;*/
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#sitetitle {
	padding-left: 39vw;
}

#sitedesc {
	padding-left: 22vw;
	padding-right: 22vw;
	text-align: center;
}

a, p, h1 {
	color: white;
	font-family: monospace;
	font-size: 16pt;
}

#links:hover {
	font-style:italic;
}

p {
	margin-top: 70;
	margin-bottom: 70;
	margin-left: 70;
	margin-right: 70;
	text-align: justify;
}

#portimg {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
}

a { 
	text-decoration: none;
}

#proj1 {
	display: inline-block;
	margin-right: 10px;
	padding: 20px;
}

#proj2 {
	display: inline-block;
	padding: 20px;
}

.wrapper {
	display: grid;
	grid-template-columns: 350px 350px 350px 350px;
    grid-template-rows: 250px 250px;
}


/*.progress .back {
    position: absolute;
    background-color: #e7eeeb;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    border-radius: 50%;
}

.progress .back-centre {
    position: absolute;
    background-color: #fff;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    left: 20px;
    border-radius: 50%;
}*/