/*
Created by Bartosz Kosakowski
09/22/17
CSS for my rad website
*/

/*
modifies the base elements
*/
.homepage {
	background-image: url("images/galaxy.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

body {
    /*background-color: #d5e1df;*/
    background-color: black;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
	margin-top: 70;
	margin-bottom: 70;
	margin-left: 70;
	margin-right: 70;
	text-align: justify;
}

a { 
	text-decoration: none;
}

a, p, h1, .desc {
	/*color: #00FF00;*/
	color: white;
	font-family: monospace;
	font-size: 16pt;
}

h1 {
	text-align: center;
}

#sitetitle {
	padding-top: 1vw
}

#sitedesc {
	padding-left: 22vw;
	padding-right: 22vw;
	text-align: center;
}

#aboutdesc {
	margin-top: 100px;
	margin-left: 300px;
	margin-right: 300px;
}

#edu, #exp, #skills, #port, #linkedin, #git {
	/*MAKE THIS SOMEHOW GIVE EACH LINK SOME DISTANCE FROM ONE ANOTHER*/
}

/*hovering over each link*/
#abt:hover {
	font-style:italic;
	background-color: white;
	color: black;
}
#edu:hover {
	font-style:italic;
	background-color: white;
	color: black;
}
#exp:hover {
	font-style:italic;
	background-color: white;
	color: black;
}
#skills:hover {
	font-style:italic;
	background-color: white;
	color: black;
}
#port:hover {
	font-style:italic;
	background-color: white;
	color: black;
}
#linkedin:hover {
	font-style:italic;
	background-color: white;
	color: black;
}
#git:hover {
	font-style:italic;
	background-color: white;
	color: black;
}

/*
Organizes projects in a table
*/
.wrapper {
	display: grid;
	grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px;
}

#proj1 {
	display: inline-block;
	margin-right: 10px;
	padding: 20px;
}

#proj2 {
	display: inline-block;
	padding: 20px;
}

#proj3 {
	display: inline-block;
	padding: 20px;
}

#proj4 {
	display: inline-block;
	padding: 20px;
}

/*
sets all of the images in the portfolio section to a specified dimension
and makes them round
*/
#portimg {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
	display: block;
	margin: 0 auto;
}

#portimg:hover {
	border-style: solid;
	border-color: red;
}

/*
Creates and places the stars that lead to different pages
*/
#aboutstar, #edustar, #expstar, #skillsstar, #portstar {
	width: 15px;
	height: 15px;
	background: radial-gradient(orange, white);
	border-style: solid;
	border-color: #32CD32;
	opacity: 0.5;
	border-radius: 100%
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}

#aboutstar {
	position: absolute;
	left: 500px;
	top: 430px;
}

#edustar {
	position: absolute;
	left: 580px;
	top: 390px;
}

#expstar {
	position: absolute;
	left: 500px;
	top: 430px;
}

#skillsstar {
	position: absolute;
	left: 500px;
	top: 430px;
}

/*( ͡° ͜ʖ ͡°)*/
#portstar {
	position: absolute;
	left: 500px;
	top: 430px;
}

/*creates the terminal windows for the title section of the site
and for the links on the side*/
#term1window {
	width: 1000px;
	height: 110px;
	background-color: black;
	opacity: 0.5;
	border-style: none solid solid solid;
	border-color: #ff1a1a;
	border-width: thin;
	position: absolute;
	top: 2vw;
	left: 18vw;
	z-index: -5;
}

#term1navbar {
	width: 1000px;
	height: 15px;
	background-color: #ffffff;
	opacity: 0.5;
	border-style: solid solid none solid;
	border-color: #ff1a1a;
	border-width: thin;
	position: absolute;
	top: 1vw;
	left: 18vw;
	z-index: -5;
}

#Xbutton1 {
	width: 10px
	height: 10px;
	background-color: red;
	margin-right: 10px;
	margin-left: 10px;
}