/*
        FONTS - DELETE ME EVENTUALLY
            FOR TITLES AND LINKS --> font-family: 'Roboto Mono', monospace;
            FOR BODY --> font-family: 'Nunito', sans-serif;
*/

/*
    ================================== BODY ================================== 
*/
html, body {
    height: 100%;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    text-decoration: underline;
}

a {
    color: white;
}

body {
    background-image: url("../images/galaxy.jpg");
    background-position: top center;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.page-body{
    margin-left: 2em;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
}

#body-title {
    color: white;
    margin-top: 30%;
}

#body-content {
    color: white;
}




/*
    ================================== SIDEBAR ================================== 
*/
.sidebar {
    background-color: rgba(14, 54, 128, 0.75);
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

#profile-pic {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    width: 10em;
    height: auto;
    align-self: center;
}

.sidebar-points {
    list-style-type: none;
    padding: 2%;
    padding-right: 20%;
    font-size: 2em;
    align-self: center;
    display: flex;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.sidebar-link {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: white;
}



/*
    ================================== PROJECTS ================================== 
*/
#project-list {
    overflow-y: auto;
    height: 30em;
}