/*
    Style for small screens
*/
@media all and (max-width: 600px) {
    /*
    ================================== BODY ================================== 
    */
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .page-body {
        margin: auto;
        align-items: center;
    }

    .body-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }




    /*
    ================================== HEADER (SIDEBAR) ================================== 
    */  
    .sidebar {
        display: flex;
        flex-direction: row;
    }

    #links {
        display: inline-block;
    }




    /*
    ================================== PROJECT ================================== 
    */
    .project-image {
        width: 20em;
        height: auto;
    }

    .project-description {
        overflow-wrap: break-word;
    }

    #project-list {
        overflow-y: auto;
        height: 28em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #project-description {
        overflow-wrap: break-word;
    }
    
    .project {
        width: 25em;
        text-align: center;
    } 




    /*
    ================================== INFO ================================== 
    */
    #volunteering {
        width: 25em;
    } 

    #volunteer-desc {
        overflow-wrap: break-word;
    }
}